<p>form2 works!</p>

<form [formGroup]="formulario" (ngSubmit)="enviar()">
    <p>Nombre:
        <input type="text" formControlName="nombre">
    </p>
    
    <p>Rut:
        <input type="text" formControlName="rut">
    </p>
    
    <div formGroupName="notas">
        <p>Ingrese nota 1:
            <input type="text" formControlName="nota1">

        </p>
        <p>Ingrese nota 2:
            <input type="text" formControlName="nota2">

        </p>
        <p>Ingrese nota 3:
            <input type="text" formControlName="nota3">

        </p>
        <p>Ingrese nota 4:
            <input type="text" formControlName="nota4">

        </p>
        <p>Ingrese la nota del examen:
            <input type="text" formControlName="examen">

        </p>
    </div>
    <p>
        <button type="submit">Enviar</button>
    </p>
    <div>
        <p>Salida: {{salida}}</p> 
    </div>

</form>
